extends layout

block content
  h1= title
  p Welcome to #{title}

      div.event1
      p 선착순제 이벤트!
      form(name="event-fs", action="/events/first-served", method="post")
          span id :
          input(type="text", name="user_id")
          input(type="submit", value="submit!")

      div.event2
      p 랜덤 이벤트!
      form(name="event-r", action="/events/random", method="post")
          span id :
          input(type="text", name="user_id")
          input(type="submit", value="add!")

      form(name="exec-random" action="/events/random-pick", method="post")
        input(type="submit", value="gotcha!")

      p 랜덤 이벤트 등록된 맴버
      ul#random_users
        for user in random_users
           li= user
        else
            li user list is empty!

      p 뽑힌 맴버
      ul#picked_users
          for user in picked_users
              li= user
          else
              li user list is empty!
